/* Estilos para aplicaciones auxiliares de validación
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

fieldset label
{
    color:Blue;
    display:block;
   
    }
a:link 
{
   font-size:20px;
  color:#107;
    }
a:visited 
{
    font-size:20px;
  color:#104;
    }
a:active 
{
    font-size:20px;
  color:#101;
    }
a:hover 
{
   font-size:20px;
  color:#100;
    }